In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df_test=pd.read_csv(r'Data Sets\loan_test.csv')

In [5]:
df_train=pd.read_csv(r'Data Sets\loan_train.csv')

In [6]:
df_train

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [7]:
df_train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
df_train['Gender'].mode()

0    Male
Name: Gender, dtype: object

In [9]:
df_train['Gender'].loc[df_train['Gender'].isnull()]='Male'

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_1028\1382964591.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['Gender'].loc[df_train['Gender'].isnull()]='Male'

In [10]:
df_train['Self_Employed'].mode()
df_train['Married'].mode()

0    Yes
Name: Married, dtype: object

In [11]:
df_train['Self_Employed'].loc[df_train['Self_Employed'].isnull()]='No'

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_1028\2519671879.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['Self_Employed'].loc[df_train['Self_Employed'].isnull()]='No'

In [12]:
df_train['Married'].loc[df_train['Married'].isnull()]='Yes'

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_1028\4271078956.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['Married'].loc[df_train['Married'].isnull()]='Yes'

In [13]:
a=df_train['LoanAmount'].mean()

In [14]:
df_train['LoanAmount'].loc[df_train['LoanAmount'].isnull()]=a

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_1028\1652579549.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['LoanAmount'].loc[df_train['LoanAmount'].isnull()]=a

In [15]:
df_train[df_train['LoanAmount']==df_train['LoanAmount'].mean()]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
35,LP001106,Male,Yes,0,Graduate,No,2275,2067.0,146.412162,360.0,1.0,Urban,Y
63,LP001213,Male,Yes,1,Graduate,No,4945,0.0,146.412162,360.0,0.0,Rural,N
81,LP001266,Male,Yes,1,Graduate,Yes,2395,0.0,146.412162,360.0,1.0,Semiurban,Y
95,LP001326,Male,No,0,Graduate,No,6782,0.0,146.412162,360.0,NaN,Urban,N
102,LP001350,Male,Yes,NaN,Graduate,No,13650,0.0,146.412162,360.0,1.0,Urban,Y
103,LP001356,Male,Yes,0,Graduate,No,4652,3583.0,146.412162,360.0,1.0,Semiurban,Y
113,LP001392,Female,No,1,Graduate,Yes,7451,0.0,146.412162,360.0,1.0,Semiurban,Y
127,LP001449,Male,No,0,Graduate,No,3865,1640.0,146.412162,360.0,1.0,Rural,Y
202,LP001682,Male,Yes,3+,Not Graduate,No,3992,0.0,146.412162,180.0,1.0,Urban,N
284,LP001922,Male,Yes,0,Graduate,No,20667,0.0,146.412162,360.0,1.0,Rural,N
305,LP001990,Male,No,0,Not Graduate,No,2000,0.0,146.412162,360.0,1.0,Urban,N
322,LP002054,Male,Yes,2,Not Graduate,No,3601,1590.0,146.412162,360.0,1.0,Rural,Y
338,LP002113,Female,No,3+,Not Graduate,No,1830,0.0,146.412162,360.0,0.0,Urban,N
387,LP002243,Male,Yes,0,Not Graduate,No,3010,3136.0,146.412162,360.0,0.0,Urban,N
435,LP002393,Female,Yes,NaN,Graduate,No,10047,0.0,146.412162,240.0,1.0,Semiurban,Y
437,LP002401,Male,Yes,0,Graduate,No,2213,1125.0,146.412162,360.0,1.0,Urban,Y
479,LP002533,Male,Yes,2,Graduate,No,2947,1603.0,146.412162,360.0,1.0,Urban,N
524,LP002697,Male,No,0,Graduate,No,4680,2087.0,146.412162,360.0,1.0,Semiurban,N
550,LP002778,Male,Yes,2,Graduate,Yes,6633,0.0,146.412162,360.0,0.0,Rural,N
551,LP002784,Male,Yes,1,Not Graduate,No,2492,2375.0,146.412162,360.0,1.0,Rural,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,146.412162,180.0,1.0,Urban,N

In [16]:
df_train['Loan_Amount_Term'].loc[df_train['Loan_Amount_Term'].isnull()]=df_train['Loan_Amount_Term'].mean()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_1028\678522625.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['Loan_Amount_Term'].loc[df_train['Loan_Amount_Term'].isnull()]=df_train['Loan_Amount_Term'].mean()

In [17]:
df_train.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           15
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [18]:
df_train['Credit_History'].loc[df_train['Credit_History'].isnull()]=df_train['Credit_History'].mean()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_1028\1610246567.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['Credit_History'].loc[df_train['Credit_History'].isnull()]=df_train['Credit_History'].mean()

In [19]:
df_train['Dependents'].loc[df_train['Dependents'].isnull()]=df_train['Dependents'].mode()[0]

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_1028\1064416142.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['Dependents'].loc[df_train['Dependents'].isnull()]=df_train['Dependents'].mode()[0]

In [23]:
df_train['Dependents'].replace({'3+':'3'},inplace=True)

In [20]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         614 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      614 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [21]:
from sklearn.preprocessing import LabelEncoder

In [24]:
df_train['Dependents']=pd.to_numeric(df_train['Dependents'])

In [25]:
lb=LabelEncoder()

In [26]:
df_train['Gender']=lb.fit_transform(df_train['Gender'])
df_train['Married']=lb.fit_transform(df_train['Married'])
df_train['Education']=lb.fit_transform(df_train['Education'])
df_train['Self_Employed']=lb.fit_transform(df_train['Self_Employed'])
df_train['Property_Area']=lb.fit_transform(df_train['Property_Area'])

In [27]:
df_train

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,146.412162,360.0,1.0,2,Y
1,LP001003,1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0,N
2,LP001005,1,1,0,0,1,3000,0.0,66.000000,360.0,1.0,2,Y
3,LP001006,1,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,2,Y
4,LP001008,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,0,0,2900,0.0,71.000000,360.0,1.0,0,Y
610,LP002979,1,1,3,0,0,4106,0.0,40.000000,180.0,1.0,0,Y
611,LP002983,1,1,1,0,0,8072,240.0,253.000000,360.0,1.0,2,Y
612,LP002984,1,1,2,0,0,7583,0.0,187.000000,360.0,1.0,2,Y
613,LP002990,0,0,0,0,1,4583,0.0,133.000000,360.0,0.0,1,N

In [28]:
df_train['Loan_Status'].replace({'Y':1,'N':0},inplace=True)

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
x=df_train

In [31]:
y=df_train['Loan_Status']

In [32]:
del x['Loan_ID']

In [33]:
del x['Loan_Status']

In [34]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [35]:
from sklearn.linear_model import LogisticRegression

In [36]:
lg=LogisticRegression()

In [37]:
lg.fit(x_train,y_train)

LogisticRegression()

In [38]:
lg.score(x_test,y_test)

0.8

In [39]:
lg.score(x_train,y_train)

0.8111888111888111

In [40]:
from sklearn.ensemble import RandomForestClassifier

In [41]:
rf=RandomForestClassifier()

In [42]:
rf.fit(x_train,y_train)

RandomForestClassifier()

In [45]:
rf.score(x_test,y_test)

0.7783783783783784

In [46]:
rf.score(x_train,y_train)

1.0

In [47]:
rf1=RandomForestClassifier()

In [48]:
from sklearn.model_selection import GridSearchCV,cross_val_score

In [49]:
par=param_grid = {
    'n_estimators': [50, 100, 150],  # Number of trees in the forest
    'max_depth': [None, 10, 20, 30],  # Maximum depth of the trees
    'min_samples_split': [2, 5, 10],  # Minimum number of samples required to split an internal node
    'min_samples_leaf': [1, 2, 4]  # Minimum number of samples required to be at a leaf node
}

In [50]:
model=GridSearchCV(estimator=rf1,param_grid=par)

In [51]:
model.fit(x_train,y_train)

GridSearchCV(estimator=RandomForestClassifier(),
             param_grid={'max_depth': [None, 10, 20, 30],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [50, 100, 150]})

In [52]:
model.score(x_test,y_test)

0.8054054054054054

In [53]:
df_train.to_csv('numerical.csv',index=False)

In [ ]:
import pickle 
with open('model.pickle','wb') as abc:
    pickle.dump(model,abc)